/*Start Global  Rules*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*variabls*/
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/*Fream works*/
.scroller {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  z-index: 4;
  border-radius: 20px;
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: #333;
  width: 120px;
  bottom: -30px;
}
.main-heading h2::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  background: white;
  border-radius: 50%;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/*small scren*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*moyen scren*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large scren*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*Start Header*/
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: '';
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  position: absolute;
  bottom: 0;
}
header .container .logo img {
  height: 80px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  user-select: none;
}
header .container nav li {
  display: inline-block;
}
header .container nav li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}
header .container nav .active,
header .container nav li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .form {
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .container nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  header .container nav ul {
    /* display: none; */
    display: none;
    position: absolute;
    flex-direction: column;
    width: calc(100% - 30px);
    text-align: center;
    top: 106px;
    left: 15px;
    background-color: rgb(15 116 143 / 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    /* opacity: 0; */
    transition: .3s;
  }
  header .container nav li a {
    font-size: 20px;
    padding: 20px 10px;
  }
  header .container nav .active,
  header .container nav li a:hover {
    border-bottom: none;
  }
}

/*Start Landing*/

.landing {
  height: 100vh;
  max-height: 1050px;
  background-color: #19c9fa2a;
  /* background-image: url(../image-t2/landing.jpg);
    background-size: cover; */
  position: relative;
  overflow: hidden;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}
.landing .image {
  height: 100%;
  overflow: hidden;
  display: flex;
  width: 300%;
}
.landing .image > img {
  transition: 0.3s;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  flex-basis: 100%;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background: var(--transparent-color);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  color: #bbb;
  font-size: 30px;
  transition: 0.2s;
  width: 14px;
  cursor: pointer;
}
.landing .change-background:hover {
  color: white;
}
.landing i:first-of-type {
  left: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 768px) {
  .landing {
    height: fit-content;
  }
  .landing .text {
    width: 100%;
    padding: 30px;
    text-align: center;
    justify-content: center;
  }
  .landing .change-background {
    right: 10px;
    font-size: 20px;
  }
  .landing i:first-of-type {
    left: 10px;
  }
}
.section {
  padding: 100px;
}
/*Start Services*/
.services {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
}
.services .srv-box i {
  font-size: 40px;
  margin-right: 50px;
}
.services .srv-box .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .srv-box .text p {
  line-height: 2;
  color: #777;
}
@media (max-width: 767px) {
  .services .srv-box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .services .srv-box i {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .services .srv-box .text {
    text-align: center;
  }
}

/*Start Portofolio*/
.portfolio {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.shuffle {
  display: flex;
  justify-content: center;
}
.shuffle li {
  color: var(--main-color);
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
  width: 100px;
  padding: 15px;
  background: white;
  border: 1px solid var(--main-color);
  text-align: center;
  border-radius: 20px;
  transition: 0.3s;
}
.shuffle li.active {
  color: white;
  border-color: white;
  background-color: var(--main-color);
}
.shuffle li:hover {
  color: white;
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .shuffle {
    flex-direction: column;
    align-items: center;
  }
  .shuffle li {
    margin: 15px 0;
  }
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box-img {
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 10px;
  border-radius: 20px;
  overflow: hidden;
  height: 60%;
  position: relative;
  background-color: black;
}
.portfolio .imgs-container .box-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transform: scale(1.1);
  transition: 0.4s;
}
.portfolio .imgs-container .box-img .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box-img:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box-img:hover img {
  transform: scale(1.3);
  opacity: 50%;
}
.portfolio .imgs-container .box-img:hover .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: calc(1em + 6px);
}
.portfolio .imgs-container .box-img:hover .caption p {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  display: block;
  margin: 40px auto;
  height: 60px;
  padding: 20px;
  width: 30%;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: 0.3s;
  border: 1px solid white;
}
.portfolio .more:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: white;
}
/*small scren*/
@media (min-width: 768px) {
  .portfolio .imgs-container .box-img {
    flex-basis: 98%;
  }
  .portfolio .more {
    width: 35%;
  }
}
/*moyen scren*/
@media (min-width: 992px) {
  .portfolio .imgs-container .box-img {
    flex-basis: 48%;
  }
}
/*large scren*/
@media (min-width: 1200px) {
  .portfolio .imgs-container .box-img {
    flex-basis: 23%;
  }
}

/*Video*/

.video {
  position: relative;
}
.video::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}
.video video {
  width: 100%;
  object-fit: cover;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  text-align: center;
  background: var(--transparent-color);
  color: white;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin: 0 0 20px;
}
.video .text button {
  padding: 10px 20px;
  background: black;
  color: white;
  text-transform: uppercase;
  border: none;
}

/*Start About*/

.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}

/*Start Stats*/

.stats {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  text-align: center;
  background-image: url(../image-t2/stats.png);
  background-size: cover;
  position: relative;
}
.stats::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 70%);
}
.stats .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background: var(--transparent-color);
}
.stats .container .box i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  background: #000;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}
.stats .container .box .number {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}
.stats .container .box p {
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

/*our Skills*/
.skills {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 992px) {
  .skills .container > div {
    flex-basis: 45%;
  }
}
.skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.skills .container .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.skills .container .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .skills .container .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .skills .container .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.skills .container .testimonials .content .text {
  line-height: 1.8;
  border-bottom: 2px solid #ccc;
}
.skills .container .testimonials .content .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 20px;
}
.skills .bullets {
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
}
.skills .bullets li {
  width: 16px;
  height: 16px;
  border: 2px solid #777;
  border-radius: 50%;
  margin-right: 10px;
}
.skills .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.skills .our-skills .prog-holder {
  margin-bottom: 40px;
}
.skills .our-skills .prog-holder h4 {
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.skills .our-skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.skills .our-skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.skills .our-skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.skills .our-skills .prog-holder .prog span::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -7px;
  top: -15px;
}

/*Start Quote*/

.quote {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  background-image: url(../image-t2/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
.quote q::before {
  content: '\2039';
  margin-right: 15px;
}
.quote q::after {
  content: '\203A';
  margin-left: 15px;
}

/*Start Pricing*/

.pricing {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background: #fcfcfc;
  text-align: center;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}
.pricing .plans .plan:hover {
  transform: translateY(-30px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 35%);
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: 600;
}
.pricing .plans .plan .head span::before {
  content: '$';
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: '/MO';
  font-size: 20px;
  position: relative;
  margin-left: 15px;
  font-weight: normal;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: '';
  height: 1px;
  position: absolute;
  display: block;
  background-color: var(--main-color);
  width: 140px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.pricing .plans .plan .foot a {
  display: block;
  width: fit-content;
  text-decoration: none;
  padding: 20px 20px;
  margin: 30px auto;
  border: 1px solid var(--main-color);
  color: white;
  background-color: var(--main-color);
  border-radius: 20px;
  transition: 0.3s;
}
.pricing .plans .plan .foot a:hover {
  transform: scale(1.2);
  color: var(--main-color);
  background-color: white;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px 0 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  text-decoration: none;
  width: fit-content;
  margin: 20px auto;
  background: var(--main-color);
  color: white;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  transition: 0.1s;
}
.pricing .contact-link:hover {
  color: transparent;
}
.pricing .contact-link::before {
  content: 'contact us';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background: white;
  color: var(--main-color);
  font-size: 20px;
  top: 0;
  left: -100%;
  border-radius: 50px;
  transition: 0.4s;
}
.pricing .contact-link:hover::before {
  left: 0;
  border-radius: 0;
}

/*Subscribe*/

.subscribe {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  position: relative;
  background-image: url(../image-t2/subscribe.jpg);
  background-size: cover;
  color: white;
}
.subscribe::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe .container form i {
  position: absolute;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.subscribe .container form input[type='email'] {
  border: 1px solid white;
  border-right: none;
  background: transparent;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.subscribe .container form input[type='submit'] {
  width: 130px;
  background: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe .container form input:focus {
  outline: none;
}
.subscribe .container form ::placeholder {
  color: white;
  text-transform: uppercase;
}
.subscribe .container p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe .container p {
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
  }
}
/*Start Contact */

.contact {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
.contact .content form {
  flex-basis: 70%;
  caret-color: var(--main-color);
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
  resize: none;
}
.contact .content form input[type='submit'] {
  background: var(--main-color);
  color: white;
  padding: 20px;
  border: 1px solid var(--main-color);
  text-transform: uppercase;
  margin-left: auto;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.contact .content form input[type='submit']:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
  border-radius: 20px;
  background-color: white;
  color: var(--main-color);
}
.contact .content .info {
  flex-basis: 25%;
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
.contact .content .info address {
  color: #777;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
  .contact .content .info {
    order: -1;
    text-align: center;
  }
  .contact .content .info h4 {
    margin-bottom: 15px;
  }
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
  .contact .content form input[type='submit'] {
    margin: auto;
  }
  .contact .content .info address {
    margin-bottom: 40px;
  }
}

/*Start Footer*/

.footer {
  padding-bottom: calc(var(--section-padding) / 2);
  padding-top: calc(var(--section-padding) / 2);
  background-image: url('../image-t2/footer.png');
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 80%);
}
.footer img {
  width: 200px;
  margin-bottom: 20px;
}
.footer .container {
  position: relative;
}
.footer .container p:not(.copy-right) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #777;
  width: fit-content;
  margin: 20px auto;
  font-size: 22px;
}
.footer .container .social-icons {
}
.footer .container .social-icons i {
  padding: 10px 15px;
}
.footer .container .copy-right {
  margin-top: 60px;
}
.footer .container .copy-right span {
  color: var(--main-color);
  font-weight: bold;
}
